[Desktop Entry]
Terminal=false
Type=Application
Name=Photopea
Exec=google-chrome-stable --new-window --app=https://www.photopea.com/
Icon=nix-snowflake
StartupWMClass=photopea.com
