/* Colors */
@define-color white #fffae8;
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

/* Style */
* {
  font-family: "Ubuntu Nerd Font", "Helvetica Neue LT Std", sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty {  
  background-color: rgba(0, 0, 0, 0);
}

window#waybar.empty #window {
  background-color: transparent;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#backlight:hover,
#custom-wl-gammarelay:hover,
#pulseaudio:hover,
#memory:hover {
  background-color: @surface2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @red;
}


#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
  color: @green;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @white;
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio,
#backlight,
#network,
#temperature,
#cpu,
#memory,
#battery,
#clock {
  padding: 0 6px;
}

#tray {
  padding: 0 10px 0 0;
}

#pulseaudio {
  color: @maroon;
}

#custom-wl-gammarelay {
  color: @peach;
}

#backlight {
  color: @yellow;
}

#memory {
  color: @sky;
}

#cpu {
  color: @rosewater;
}

#battery {
  color: @green;
}

#clock {
  color: @white;
}

#window {
  color: @white;
}

.modules-right,
.modules-left {
  background-color: @base;
}

.modules-right {
  padding: 0 10px;
  border-radius: 15px 0 0 15px;
}

.modules-left {
  padding: 0 20px;
  border-radius: 0 15px 15px 0;
}

.modules-center {
  padding: 0 10px;
  border-radius: 15px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @white;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  background-color: @peach;
  color: #000000;
}

label:focus {
  background-color: #000000;
}
